
<div>
<img class ="logo" src="images/LogoDys.png" alt="Logo" width="100" height="100">
    <ul>
        <li class="haut">
            <a href="#"><img src="images/user.png" alt="Compte" width="40" height="40"></a>
        </li>
        <li class="haut">
            <a href="#"><img src="images/settings.png" alt="Réglages" width="40" height="40"></a>
        </li>
    </ul>
</div>



<nav class="bandeau flex-row flex-justify-content-between">
   <ul class>
    <li class="p-10">
        <a class="liens" href="#">Accueil</a>
    </li>
    <li class="p-10">
        <a class="liens" href="#">Exercices</a>
    </li>
    <li class="p-10">
        <a class="liens" href="#">Résultats</a>
    </li>
    <li class="p-10">
        <a class="liens" href="#">Règles</a>
    </li>
   </ul>
</nav>



