header {
  top: 0;
}

.haut {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.centrale {
  margin: 0 auto;
}

.centrale img {
  height: 150px;
  width: 200px;
}

.images-droite {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images-droite img {
  margin-left: 15px;
  /* Ajouter une marge entre les images */
  width: 30px;
  height: 30px;
}

.bandeau {
  display: flex;
  align-items: center;
  background: #f1baa6;
}

ul,
li {
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0;
}

.liens {
  display: inline-block;
  text-align: center;
  color: #2b3467;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.liens:hover {
  background: #2b3467;
  color: #f1baa6;
  transition: 0, 2s;
}