<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>

<body>
<header>
    <div class="haut">
        <div class="centrale">
            <img src="assets/dyslogo.jpg" alt="logo">
        </div>
        
        <div class="images-droite">
            <a href="#"><img src="assets/icone.png" alt="user"></a>
            <a href="#"><img src="assets/settings.jpg" alt="settings"></a>
        </div>
    </div>

    <nav class="bandeau">
        <ul class>
         <li>
             <a class="liens" href="header.html">Accueil</a>
         </li>
         <li>
             <a class="liens" href="exercices.html">Exercices</a>
         </li>
         <li>
             <a class="liens" href="#">Résultats</a>
         </li>
         <li>
             <a class="liens" href="#">Règles</a>
         </li>
        </ul>
     </nav>
</header>
</body>

</html>