<header>
    <div class="haut">
        <div class="centrale">
            <img src="images/dyslogo.jpg" alt="Image centrale">
        </div>
        
        <div class="images-droite">
            <a href="#"><img src="images/icone.jpg" alt="Image droite 1"></a>
            <a href="#"><img src="images/settings.jpg" alt="Image droite 2"></a>
        </div>
    </div>

    <nav class="bandeau">
        <ul class>
         <li>
             <a class="liens" href="header.html">Accueil</a>
         </li>
         <li>
             <a class="liens" href="exercices.html">Exercices</a>
         </li>
         <li>
             <a class="liens" href="#">Résultats</a>
         </li>
         <li>
             <a class="liens" href="#">Règles</a>
         </li>
        </ul>
     </nav>
</header>