<img class="logo" src="../assets/logo.png">


<form class="form" action="#">
    <h1 class="title">Inscription</h1>
  
    <div class="header-buttons">
        <input type="text" class="input_element" placeholder="Prénom" />
        <input type="text" class="input_element" placeholder="Nom" />
    </div>

    <div class="header-buttons">
        <input type="text" class="input_element" placeholder="E-mail" />
        <input type="date" class="input_element " placeholder="Date de naissance" />
    </div>

    <div class="header-buttons">
        <input type="password" class="input_element" placeholder="Mot de passe" />
        <input type="password" class="input_element" placeholder="Confirmez le mot de passe" />
    </div>
    
    <br>
    <input class="btn_blue" type="submit" value="S'inscrire" />
    <br>

</form>

<a href="lien">Déja inscrit ? C'est par ici !</a>