<div class="container">
    
    <div class="ligne head">
        <h1 class="titre">Règle du jeu</h1>
    </div>

    

    <div class="ligne">
        <div class="column">
            <div class="encart-recopiue-vite">
                <h3 style="color:#2B3467;text-align: center;">Recopie-vite</h3>
                <p style="color:#2B3467;">Le but de cet exercice est de recopier aussi vite que possible ce qui est affiché à l'écran afin
                    d'améliorer votre vitesse d'écriture.</p>
            </div>
        </div>

        
        <div class="column1">
            <br>
            <div class="target"><img src="assets/target.png" alt="target"></div>
        
        </div>
        

        <div class="column">
            <div class="encart-dobble">
                <h3 style="color: #F1BAA6;text-align: center;">Dobble</h3>
                <p style="color:#FFFF;">Cet exercice a pour but de relier un mot et son image le plus rapidement possible.</p>
            </div>
        </div>
    </div>

    <div class="ligne">
        <div class="column">
        </div>

        <div class="column">
            <div class="encart-ortho">
                <h3 style="color:#2B3467;text-align: center;">Histoire d'orthographe</h3>
                <p style="color:#2B3467;">Dans cet exerice, il va faloir compléter les phrases à trous en utilisant les mots proposés. Cela
                    servira à améliorer votre orthographe.</p>
            </div>
        </div>
        
        <div class="column">
        </div>
    </div>
</div>