<img class="logo" src="../assets/logo.png">


<form class="form" (ngSubmit)="login ()">
    <h1 class="title">Connexion</h1>

    <div class="header-buttons">
        <input type="text" class="input_element" placeholder="E-mail" name="email" [(ngModel)]="email"/>
    </div>

    <div class="header-buttons">
        <input type="password" class="input_element" placeholder="Mot de passe"  name="password" [(ngModel)]="password"/>
    </div>
    <br>
    <input type="checkbox" id="remember" name="remember">
    <label for="remember">Se souvenir de moi</label>
    <br>

    <br>
    <input class="btn_blue" type="submit" value="Se connecter" />
    <br>
    <a href="">Mot de passe oublié ? Laissez nous vous aider !</a>

</form>

<a (click)="inscription()">Pas encore inscrit ? C'est par ici !</a>