h1 {
    color: #2B3467;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
  }
  
a {
    color: #F1BAA6;
    text-align: left;
    text-decoration: underline;
    font-family: Arial;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 55px;
  }
  
.un {
    width: auto;
    background: #F1BAA6;
    padding: 3px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
  }
  

.deux {
    width: auto;
    height: auto;
    background: #2B3467;
    padding: 15px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}









.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #2B3467;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #2B3467;
}
.popup .close:hover {
  color: #F1BAA6;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

