<div class="container">

    <div class="un">
        <h1>Mais comment ça marche ?</h1>
    </div><br>

    <div class="deux">
        <a href="#">1# Accord des adjectifs</a><br><br>
        <a href="#">2# Accord du participe passé</a><br><br>
        <a href="#">3# Accord des verbes</a><br><br>
        <a href="#">4# c / ç / cu et g / ge / gu</a><br><br>
        <a href="#">5# e et é / è</a><br><br>
        <a href="#">6# notre, le nôtre / votre, le vôtre</a><br><br>
        <a href="#">7# Certains mots prennent toujours "-s" à la fin</a><br><br>
    </div><br>
</div>
