h1 {
    color: #2B3467;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
  }
  
a {
    color: #F1BAA6;
    text-align: left;
    text-decoration: underline;
    font-family: Arial;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 55px;
  }
  
.un {
    width: auto;
    background: #F1BAA6;
    padding: 3px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
  }
  

.deux {
    width: auto;
    height: auto;
    background: #2B3467;
    padding: 15px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
  }

  .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}