<div class="resultat">

  <div id="searchbar">
    <p>Recherche <input type="text" placeholder="Rechercher un exercice" ng-model="search"></p>
    <ul ng-repeat="exercice in exercices | filter : search"></ul>
  </div>

  
  <p>Les résultats de vos performances ? C'est par là :</p>
  <div id="container"></div>
  <h1>Histoire d'orthographe</h1>

  <div class="erreurs">
    <h1 class="texte">06/04/2023<br>10 bonnes réponses<br>&<br>5 erreurs</h1>
  </div>
  <h1>Dooble</h1>

  <div class="erreurs">
    <h1 class="texte">02/04/2023<br>15 bonnes réponses<br>&<br>8 erreurs</h1>
  </div>
  
</div>