<div class="resultat">

  <div id="searchbar">
    <p>Recherche <input type="text" placeholder="Rechercher un exercice" ng-model="search"></p>
    <ul ng-repeat="exercice in exercices | filter : search"></ul>
  </div>

  
  <p>Les résultats de vos performances ? C'est par là :</p>
  <div id="container"></div>

  <div class="erreurs">
  
    <!--[ngStyle]="{'background-color' : exercices === 'Dooble' ? 'green', 'red'}"-->
    <h1 class="texte1"> Histoire d'orthographe - 30/04/2023 : 75% de réussite</h1>
    <h1 class="texte2"><B>Calcul malin</B> - 23/04/2023 : 13% de réussite</h1>
    <h1 class="texte1"><B>Dooble</B> - 14/04/2023 : 23% de réussite</h1>
    <h1 class="texte2"><B>Histoire d'orthographe</B> - 09/04/2023 : 60% de réussite</h1>
    <h1 class="texte1"><B>Histoire d'orthographe</B> - 27/03/2023 : 64% de réussite</h1>
    <h1 class="texte2"><B>Dooble</B> - 15/03/2023 : 50% de réussite</h1>
    <h1 class="texte1"><B>Calcul malin</B> - 23/02/2023 : 9% de réussite</h1>
    <h1 class="texte2"><B>Dooble</B> - 02/02/2023 : 39% de réussite</h1>
    <h1 class="texte1"><B>Histoire d'orthographe</B> - 17/01/2023 : 35% de réussite</h1>
    <h1 class="texte2"><B>Dooble</B> - 05/01/2023 : 9% de réussite</h1>
  </div>
  
</div>