p{
    color: var(--bleu-fonce);
    font-size: 22px;
    font-weight: bold;
    padding-left: 15px;
    position: relative;
}
h1{
    color: var(--rose);
    font-size: 22px;
    background-color: var(--bleu-fonce);
    border-radius: 10px;
    border-top: 2em;
    border-bottom: 2em;
    text-align: center;
    /*display: flex;
    display: block;*/
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.texte1{
    font-size: 16px;
    color: var(--bleu-fonce);
    background-color: var(--bleu-clair);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.texte2{
    font-size: 16px;
    color: var(--bleu-clair);
    background-color: var(--bleu-fonce);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.resultat{
    padding-left: 30px; 
}
.erreurs{
    /*float: left;
    width: 60em;*/
}
