
<main>

    <p>Les résultats de vos performances ? C'est par là : </p>

    <div id="container"></div>

    <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Recherche" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="exercice">
            <th mat-header-cell *matHeaderCellDef> Exercice </th>
            <td mat-cell *matCellDef="let result">{{result.exercice_name}}</td>
        </ng-container>


        <!-- Name Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let result"> {{result.result_date }} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef> Score </th>
            <td mat-cell *matCellDef="let result"> {{result.result_score}}%</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

</main>