<div class="container">

    <div class="titre">
        <h1>Mais comment ça marche ?</h1>
    </div><br>

    <div class="regle">


        <div class="box">
            <a class="button" href="#popup1">1# Accord des adjectifs</a>
        </div>
        <div id="popup1" class="overlay">
            <div class="popup">
                <h2>Comment accorder les adjectifs ?</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    L'adjectif s'accorde en genre (masculin/féminin) et en nombre (singulier/pluriel) avec le nom auquel
                    il se rapporte.
                    L'adjectif s'accorde toujours, même lorsqu'il est loin du nom auquel il se rapporte
                </div>
            </div>
        </div>
        <br>

        <div class="box">
            <a class="button" href="#popup2">2# Accord du participe passé</a>
        </div>
        <div id="popup2" class="overlay">
            <div class="popup">
                <h2>Comment accorder le participe passé ?</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    Le participe passé conjugué avec l'auxiliaire avoir s'accorde en genre et en nombre avec le
                    complément d'objet direct du verbe,
                    si celui-ci précède le participe
                </div>
            </div>
        </div>
        <br>

        <div class="box">
            <a class="button" href="#popup3">3# Accord des verbes</a>
        </div>
        <div id="popup3" class="overlay">
            <div class="popup">
                <h2>Comment accorder les verbes ?</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    Le verbe s'accorde en genre et en nombre avec son sujet : Lorsque le sujet est au singulier, le
                    verbe se conjugue au singulier.
                    Lorsque le sujet est au pluriel, le verbe se conjugue au pluriel. Lorsque qu'il y a plusieurs
                    sujets, le verbe se conjugue au pluriel.
                </div>
            </div>
        </div>
        <br>

        <div class="box">
            <a class="button" href="#popup4">4# c / ç et g / gu</a>
        </div>
        <div id="popup4" class="overlay">
            <div class="popup">
                <h2>Quelle écriture choisir ?</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    Le son g s'écrit différemment selon la lettre qu'il précède :
                    - Il s'écrit g devant les voyelles a, o, u et les consonnes l et r.
                    - Il s'écrit gu devant les voyelles e, é, è, ê, i et y.

                    La cédille ne s'emploie qu'avec la lettre c, devant les voyelles o, u et a.
                    La cédille sert à indiquer que le c ne doit pas se prononcer [k], mais bien [s].
                </div>
            </div>
        </div>
        <br>

        <div class="box">
            <a class="button" href="#popup5">5# e et é / è</a>
        </div>
        <div id="popup5" class="overlay">
            <div class="popup">
                <h2>Quand mettre les accents sur le "e" ?</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    On utilise un accent aigu lorsque la voyelle « e » est la première lettre du mot.
                    Attention, cela concerne aussi les mots au pluriel terminant par un -s ou se terminant par un -e
                    muet ("e" que nous ne prononçons pas).
                    On met un accent aigu lorsque la voyelle « e » est placée entre deux consonnes.
                    On met un accent aigu sur un « e » précédant une syllabe sans "e" muet.
                    On met un accent aigu sur la dernière lettre des participes passés des verbes du premier groupe
                    (terminaison en -er) et sur le participe passé du verbe être
                    On ne met pas d'accent aigu lorsque la voyelle « e » est suivie de « d », « f » ou « r » ou si « z »
                    est la dernière lettre du mot.
                    On ne met jamais d'accent aigu sur les voyelles « e » précédant un « x ».
                    On ne met jamais d'accent aigu sur les voyelles « e » précédant des consonnes doubles.
                    On met un accent grave pour les mots se finissant par un « s » lorsque celui-ci n'est pas la marque
                    du pluriel
                    On met un accent grave pour les « e » précédant une syllabe contenant un « e » muet
                    On met un accent grave sur un « e » lorsque la deuxième lettre qui le suit est soit un « l » ou un «
                    r ».
                    On ne met jamais d'accent grave sur les voyelles « e » précédant un « x ».
                </div>
            </div>
        </div>
        <br>

        <div class="box">
            <a class="button" href="#popup6">6# Notre, le nôtre / votre, le vôtre</a>
        </div>
        <div id="popup6" class="overlay">
            <div class="popup">
                <h2>Comment écrire "notre" et "votre" ?</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    Si le mot est immédiatement suivi d'un nom ou d'un groupe nominal, il s'agit de l'adjectif possessif
                    « notre » ou « votre ».
                    Mais si l'on trouve, devant le mot en question, « le », « la » ou « les », il s'agit d'un nom et le
                    « o » prend un accent circonflexe
                </div>
            </div>
        </div>
        <br>

        <div class="box">
            <a class="button" href="#popup7">7# Certains mots prennent toujours "-s" à la fin</a>
        </div>
        <div id="popup7" class="overlay">
            <div class="popup">
                <h2>Quels mots prennent un "s" ?</h2>
                <a class="close" href="#">&times;</a>
                <div class="content">
                    Certains mots qui prennent toujours un -s à la fin tout simplement parce qu'ils sont toujours au
                    pluriel.
                    Tous les mots qui sont précédés d'un pluriel (des, les, ...) prennet toujours un "s" à la fin.
                </div>
            </div>
        </div>

    </div><br>
</div>