<p>header</p>

<div class="page-accueil">

    <img src="../logo.png" alt="Logo">

    <div class="sous-titre">
      <h2><span class="bleu">Bonjour</span> et <span class="peau">bienvenu !</span></h2>
      <h2>Réduisons la dys* ensemble !</h2>
    </div>

    <div class="boutons">
      <a href="#" class="bouton-inscription">S'inscrire</a>
      <a href="#" class="bouton-connexion">Se connecter</a>
    </div>

    <div class="recuperer-mdp">
      <p><a href="#">Mot de passe oublié ?</a></p>
    </div>
 
</div>
  