<main>
    <table>
        <tbody>
            <tr>
                <td>
                    <button mat-raised-button color="primary" (click)="navigateToHdoList()">Histoire
                        d'orthographe</button><br>
                </td>
                <td>
                    <button mat-raised-button color="primary" (click)="navigateReglesJeux()">Règles du jeu</button><br>
                </td>
            </tr>
            <tr>
                <td>
                    <button mat-raised-button color="accent">Dooble</button>
                </td>
                <td>
                    <button mat-raised-button color="accent" (click)="navigateReglesJeux()">Règles du jeu</button>
                </td>
            </tr>
        </tbody>
    </table>

</main>